/* .InfoSystem{
  background-color: rgb(238, 234, 232);
  
} */

 h2{
  align-items: center;
  padding-left: 32%;
  color: rgb(185, 95, 12);
}
.centerDiv{
  padding-left: 44%; 
}

button{
  background-color: rgb(64, 216, 64);
  font-size: 17px;
  border-radius: 2px;
  border-color: black;
}

.homePage{
  padding-left: 38%;
  color: rgb(185, 95, 12);
}

.confirmPage{
  font-size: 17px;
  border-radius: 2px;
  border-color: black;
  padding-left: 32%;
}
